<ion-header>
  <ion-navbar>
    <ion-title>Sign in or register</ion-title>
    <ion-buttons end>
      <button
        (click)="onClose()"
        ion-button
        icon-only>
        <ion-icon
          class="header-icon"
          name="close">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content
  *ngIf="!emailVerification"
  padding>
  <form>
    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>

    <div class="h-login-buttons">
      <button type="submit" ion-button color="orange" (click)="login()">Login</button>
      <button ion-button color="light" (click)="register()">Register</button>
    </div>
  </form>

  <p *ngIf="error" class="danger">{{ error.message }}</p>
</ion-content>

<ion-content padding *ngIf="emailVerification">
  <p class="emailVerification">{{ emailVerificationMessage }}</p>
  <div class="h-login-buttons">
    <button ion-button color="light" (click)="onClose()">Close</button>
    <button ion-button color="orange" (click)="resendEmailVarification()">Resend Email Verification</button>
  </div>
</ion-content>
