<ion-header>
  <ion-navbar>
    <ion-title>Choose your category</ion-title>
    <ion-buttons end>
      <button
        (click)="onClose()"
        ion-button
        icon-only>
        <ion-icon
          class="header-icon"
          name="close">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding justify-content-center>
    <ion-icon name="arrow-round-up" *ngIf="children" (click)="upCategories()"></ion-icon>
    <ion-row align-items-start>
      <ion-col col-4
        *ngFor="let category of categories">
        <ion-card no-padding (click)="onCategory(category)">
          <img src="/assets/imgs/{{category.name}}.svg">
          <ion-card-content no-padding class="center-text">
            {{ category.name }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
