<ion-header>
  <ion-navbar>
    <ion-title>Choose your category</ion-title>
    <ion-buttons end>
      <button
        (click)="onClose()"
        ion-button
        icon-only>
        <ion-icon
          class="header-icon"
          name="close">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-icon name="arrow-round-up" *ngIf="children" (click)="upCategories()"></ion-icon>
    <ion-row wrap>
      <ion-col *ngFor="let category of categories">
        <ion-card (click)="onCategory(category)">
          <ion-card-content>
            {{ category.name }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
