<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>

    </ion-title>
    <ion-buttons end>
      <button
        (click)="triggerSignOut()"
        *ngIf="user"
        ion-button
        icon-only>
        {{ user.email }}
        <ion-thumbnail
          *ngIf="user.photoURL"
          class="header-thumbnail">
          <img [src]="user.photoURL">
        </ion-thumbnail>
      </button>
      <button
        (click)="toggleSearch()"
        ion-button
        icon-only>
        <ion-icon
          class="header-icon"
          name="search"></ion-icon>
      </button>
      <button
        ion-button
        (click)="togglePostAd()">
        Post Ad
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-refresher-->
    <!--*ngIf="showSearchResults"-->
    <!--(ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content></ion-refresher-content>-->
  <!--</ion-refresher>-->

  <h-search
    [hidden]="!showSearch">
  </h-search>

  <h-posting
    (event.posting.cancelled)="onPostingCancelled($event)"
    *ngIf="showPostAd"></h-posting>

  <!--<ion-infinite-scroll-->
    <!--*ngIf="showSearchResults"-->
    <!--(ionInfinite)="doInfinite($event)">-->
    <!--<ion-infinite-scroll-content></ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->
</ion-content>
