@import "../../theme/variables.scss";

page-home {

  .header-icon {
    color: $h-white;
    font-size: 3rem;
  }

  .header-thumbnail {
    width: 3rem;
    img {
      border: #fff 2px solid;
      border-radius: 5%;
    }
  }

}
