<ion-card>
  <ion-card-header>Ad Details</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="ad.title"
          placeholder="Your Ad Title..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          rows="5"
          [(ngModel)]="ad.description"
          placeholder="Your Ad Description..."></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="category"
          (click)="showCategorySelectionModal()"
          placeholder="Category..."></ion-input>
        <button
          *ngIf="category"
          (click)="clearSelectedCategory()"
          class="clear-button"
          ion-button
          clear
          item-right>X</button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>Ad Pictures</ion-card-header>
  <ion-card-content>
    <ion-list>
      <!--<ion-item>-->
        <!--<ion-input-->
          <!--[(ngModel)]="ad.pictures"-->
          <!--placeholder="Drag Your Pictures here or press upload button below..."></ion-input>-->
      <!--</ion-item>-->
      <ion-item>
        <input
          type="file"
          (change)="detectFiles($event)"
          multiple>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>Location</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="ad.location"
          placeholder="Your Ad Zip Code..."></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>Post Your Ad</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item class="align-center">
        <button
        ion-button
        color="light"
        large
        (click)="cancelAd()">
          Cancel
        </button>
        <button
        ion-button
        color="orange"
        large
        (click)="postAd()">
          Post Ad!
        </button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
