h-posting-form {

  ion-card-header {
    @extend %h-card-header;
  }

  ion-item {
    &.align-center {
      text-align: center;
    }

    button {
      &.clear-button {
        display: none;

        @media screen and (min-width: 375px) and (max-width: 800px) {
          display: block;
        }
      }
    }

    .placeholder {
      @extend %h-placeholder;
    }

    &:hover .clear-button {
      display: block;
    }
  }

  img {
    &.processed-image {
      height: 100px;
      width: auto;
    }
  }

}
