<ion-card>
  <ion-card-header>Ad Details</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="ad.title"
          placeholder="Your Ad Title..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          rows="5"
          [(ngModel)]="ad.description"
          placeholder="Your Ad Description..."></ion-textarea>
      </ion-item>
      <ion-item>
        <div
          class="clear-on-hover"
          [class.placeholder]="!category"
          (click)="showCategorySelectionModal($event)">
          {{ category || 'Choose category...' }}
        </div>
        <button
          *ngIf="category"
          (click)="clearSelectedCategory()"
          class="clear-button"
          ion-button
          clear
          item-right>X
        </button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>Ad Pictures</ion-card-header>
  <ion-card-content>
    <ion-list>
      <!--<ion-item>-->
      <!--<ion-input-->
      <!--[(ngModel)]="ad.pictures"-->
      <!--placeholder="Drag Your Pictures here or press upload button below..."></ion-input>-->
      <!--</ion-item>-->
      <ion-item>
        <input
          type="file"
          (change)="onChange($event)"
          multiple>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>

  <ion-grid no-padding justify-content-center>
    <ion-row align-items-start>
      <ion-col
        [attr.col-4]="!platform.isLandscape() ? true : null"
        [attr.col-3]="platform.isLandscape() ? true : null"
        *ngFor="let item of processedImages">
        <ion-card no-padding>
          <img class="processed-image" [src]="item.imageDataUrl">
          <ion-card-content no-padding class="center-text">
            {{ item.fileName }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-card>
  <ion-card-header>Location</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="ad.location"
          placeholder="Your Ad Zip Code..."></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>Post Your Ad</ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item class="align-center">
        <button
          ion-button
          color="light"
          large
          (click)="cancelAd()">
          Cancel
        </button>
        <button
          *ngIf="!ad.id"
          ion-button
          color="orange"
          large
          (click)="postAd()">
          Post Ad!
        </button>
        <button
          *ngIf="ad.id"
          ion-button
          color="orange"
          large
          (click)="updateAd()">
          Update Ad!
        </button>
        <button
          *ngIf="ad.id"
          ion-button
          color="danger"
          large
          (click)="deleteAd()">
          Delete Ad!
        </button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
