<ion-header>
  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="posting">
    <ion-grid *ngIf="platform.isLandscape()">
      <ion-row justify-content-center>
        <ion-col col-5>
          <ion-icon
            *ngIf="posting.pictures && posting.pictures.length"
            class="images-icon"
            tappable
            (click)="gotToSlides()"
            name="images">
            {{ posting.pictures.length }}
          </ion-icon>
          <ion-card
            item-left>
            <img
              *ngIf="posting.pictures && posting.pictures.length"
              (click)="gotToSlides()"
              tappable
              [src]="posting.pictures[0].url">
            <ion-card-header class="wrap">
              {{ posting.title }} posted on {{ posting.datePosted | date:'d/M/y' }} in {{ posting.category && posting.category.name }}
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <h2>{{ posting.location }}</h2>
                <p class="wrap-text">{{ posting.description }}</p>
                <!--<ion-icon name="home" item-left></ion-icon>-->
              </ion-item>
              <ion-item>
                <!--<ion-icon name="call" item-left></ion-icon>-->
                <p>{{ posting.phone }}</p>
              </ion-item>
              <ion-item>
                <!--<ion-icon name="mail" item-left></ion-icon>-->
                <p>{{ posting.email }}</p>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-3>
          <h-map-card
            item-right
            [zipCode]="posting.location">>
          </h-map-card>
          <h-contact-card>
          </h-contact-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="!platform.isLandscape()">
      <ion-row justify-content-center>
        <ion-col>
          <ion-icon
            *ngIf="posting.pictures && posting.pictures.length"
            class="images-icon"
            tappable
            (click)="gotToSlides()"
            name="images">
            {{ posting.pictures.length }}
          </ion-icon>
          <ion-card
            item-left>
            <img
              *ngIf="posting.pictures && posting.pictures.length"
              (click)="gotToSlides()"
              tappable
              [src]="posting.pictures[0].url">

            <ion-card-header class="wrap">
              {{ posting.title }}
            </ion-card-header>

            <ion-card-content>
              <ion-item>
                <h2>{{ posting.location }}</h2>
                <p class="wrap-text">{{ posting.description }}</p>
                <!--<ion-icon name="home" item-left></ion-icon>-->
              </ion-item>
              <ion-item>
                <!--<ion-icon name="call" item-left></ion-icon>-->
                <p>{{ posting.phone }}</p>
              </ion-item>
              <ion-item>
                <!--<ion-icon name="mail" item-left></ion-icon>-->
                <p>{{ posting.email }}</p>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h-map-card
            item-right
            [zipCode]="posting.location">>
          </h-map-card>
          <h-contact-card>
          </h-contact-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
