h-search {
  img {
    &.search-image {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  ion-input {
    &.clear-on-hover:hover .clear-input {
      display: block;
    }
  }

  ion-item {
    button {
      &.clear-button {
        display:none
      }
    }

    &:hover .clear-button {
      display: block;
    }
  }
}
