h-search {
  img {
    &.search-image {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .placeholder {
    @extend %h-placeholder;
  }

  ion-input, div {
    &.clear-on-hover:hover .clear-input {
      display: block;
    }
  }

  ion-item {
    button {
      &.clear-button {
        display: none;

        @media screen and (min-width: 375px) and (max-width: 800px) {
          display: block;
        }
      }
    }

    &:hover .clear-button {
      display: block;
    }
  }
}
